html {
  font-size: 2rem;
  font-family: "Press Start 2P";
}

@font-face {
  font-family: "Press Start 2P";
  src: url("./font/PressStart2P-Regular.ttf");
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #222;
  color: white;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn__box {
  display: flex;
  flex-direction: row;
}

#button {
  --color: firebrick;
  --border-color: firebrick;
  --shadow-color: rgb(112, 20, 20);

  position: relative;
  font-size: 0.75rem;
  width: 200px;
  height: 75px;
  max-width: 100%;
  max-height: 100%;
  margin: 2rem;
  border: none;
  background-size: cover;
  cursor: pointer;
  outline: none;
  color: white;
  font-family: "Press Start 2P", monospace;
  font-weight: bold;
  background-color: var(--color);
  box-shadow: 0 -3px var(--color), 3px 0 var(--color), 0 3px var(--color),
    -3px 0 var(--color), 0 -6px var(--border-color),
    3px -3px var(--border-color), 6px 0 var(--border-color),
    0 6px var(--border-color), -3px 3px var(--border-color),
    -6px 0 var(--border-color), -3px -3px var(--border-color),
    3px 3px var(--border-color), 0px 9px var(--shadow-color),
    3px 6px var(--shadow-color), 6px 3px var(--shadow-color),
    0px 9px var(--shadow-color), -3px 6px var(--shadow-color),
    -6px 3px var(--shadow-color);
}

#button__restart {
  display: none;
  
  --color: firebrick;
  --border-color: firebrick;
  --shadow-color: rgb(112, 20, 20);

  position: relative;
  font-size: 0.75rem;
  width: 200px;
  height: 75px;
  max-width: 100%;
  max-height: 100%;
  margin: 2rem;
  border: none;
  background-size: cover;
  cursor: pointer;
  outline: none;
  color: white;
  font-family: "Press Start 2P", monospace;
  font-weight: bold;
  background-color: var(--color);
  box-shadow: 0 -3px var(--color), 3px 0 var(--color), 0 3px var(--color),
    -3px 0 var(--color), 0 -6px var(--border-color),
    3px -3px var(--border-color), 6px 0 var(--border-color),
    0 6px var(--border-color), -3px 3px var(--border-color),
    -6px 0 var(--border-color), -3px -3px var(--border-color),
    3px 3px var(--border-color), 0px 9px var(--shadow-color),
    3px 6px var(--shadow-color), 6px 3px var(--shadow-color),
    0px 9px var(--shadow-color), -3px 6px var(--shadow-color),
    -6px 3px var(--shadow-color);
}

#button:active {
  top: 6px;
  box-shadow: 0 -3px var(--color), 3px 0 var(--color), 0 3px var(--color),
    -3px 0 var(--color), 0 -6px var(--border-color),
    3px -3px var(--border-color), 6px 0 var(--border-color),
    0 6px var(--border-color), -3px 3px var(--border-color),
    -6px 0 var(--border-color), -3px -3px var(--border-color),
    3px 3px var(--border-color), 0px 6px var(--shadow-color),
    3px 3px var(--shadow-color), 6px 0px var(--shadow-color),
    0px 6px var(--shadow-color), -3px 3px var(--shadow-color),
    -6px 0px var(--shadow-color);
}

#button__restart:active {
  top: 6px;
  box-shadow: 0 -3px var(--color), 3px 0 var(--color), 0 3px var(--color),
    -3px 0 var(--color), 0 -6px var(--border-color),
    3px -3px var(--border-color), 6px 0 var(--border-color),
    0 6px var(--border-color), -3px 3px var(--border-color),
    -6px 0 var(--border-color), -3px -3px var(--border-color),
    3px 3px var(--border-color), 0px 6px var(--shadow-color),
    3px 3px var(--shadow-color), 6px 0px var(--shadow-color),
    0px 6px var(--shadow-color), -3px 3px var(--shadow-color),
    -6px 0px var(--shadow-color);
}

#display, #display__counter,
#counter {
  height: 32px;
  margin-bottom: 30px;
}

.score__board {
  position: absolute;
  left: 5%;
  top: 10%;
}

.board__title {
  font-size: .70rem;
}

.score__list {
  font-size: .65rem;
}

.score__items {
  margin: 0px 0px 15px 0px;
  border-bottom: 2px solid #747474;
  padding-bottom: 5px;
}
.score__items:last-child {
  margin: 0;
}
